<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="main.erp.root.erp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/schoollogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="main.erp.root.erp.main.erp.root.erp.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="main.erp.root.erp.main.erp.root.erp.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeFullScreen" >

        </activity>

        <activity
            android:name="main.erp.root.erp.main.erp.root.erp.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeFullScreen" >

        </activity>
        <activity
            android:name="main.erp.root.erp.main.erp.root.erp.activity.StudentActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme"  >

        </activity>

        <activity
            android:name="main.erp.root.erp.main.erp.root.erp.activity.TeacherActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme"  >

        </activity>
        <activity
            android:name="main.erp.root.erp.main.erp.root.erp.activity.ResultActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme"  >

        </activity>

        <activity
            android:name="main.erp.root.erp.main.erp.root.erp.activity.EventActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme"  >

        </activity>
    </application>

</manifest>
